# Project:Loan elegibility Prediction using (ANN's)

# Read data

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as mt
A = mt.read_csv("C:/Users/SHREE/Desktop/Data/training_set.csv")

# Preview

In [2]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

# Missing data treatment

In [3]:
from important_tool import replacer
replacer(A)

# Drop unwanted column

In [4]:
A = A.drop(labels=["Loan_ID"],axis=1)

# Define X and Y

In [5]:
Y = A[["Loan_Status"]]
X = A.drop(labels=["Loan_Status"],axis=1)

# Convert Y into a label encoded format

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Ynew = mt.DataFrame(le.fit_transform(Y),columns=["Loan_Status"])

# Preprocessing

In [7]:
from important_tool import preprocessing
Xnew = preprocessing(X)

# Divide data in training and testing

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Ynew,test_size=0.2,random_state=21)

In [9]:
Xnew.shape

(614, 20)

# Create a Neural Network

In [10]:
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.callbacks import EarlyStopping

In [11]:
es = EarlyStopping(patience=50)
nn = Sequential()
nn.add(Dense(200,input_dim=(20)))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(1,activation = "sigmoid"))

In [12]:
nn.compile(loss="binary_crossentropy",metrics="accuracy")
nn.fit(xtrain,ytrain,epochs=100,validation_split=0.2,callbacks=es, batch_size=4)

Epoch 1/100
98/98 [==============================] - 3s 13ms/step - loss: 0.6398 - accuracy: 0.7423 - val_loss: 0.5760 - val_accuracy: 0.7576
Epoch 2/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5770 - accuracy: 0.7474 - val_loss: 0.6645 - val_accuracy: 0.7475
Epoch 3/100
98/98 [==============================] - 1s 6ms/step - loss: 0.5402 - accuracy: 0.7730 - val_loss: 0.5387 - val_accuracy: 0.7778
Epoch 4/100
98/98 [==============================] - 1s 5ms/step - loss: 0.5354 - accuracy: 0.7653 - val_loss: 0.6242 - val_accuracy: 0.7273
Epoch 5/100
98/98 [==============================] - 1s 6ms/step - loss: 0.5493 - accuracy: 0.7526 - val_loss: 0.6104 - val_accuracy: 0.8081
Epoch 6/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5536 - accuracy: 0.7857 - val_loss: 0.5646 - val_accuracy: 0.8182
Epoch 7/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5239 - accuracy: 0.8087 - val_loss: 0.5365 - val_accuracy: 0.7778
Epoch 8/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5522 - accuracy: 0.7832 - val_loss: 0.5468 - val_accuracy: 0.8081
Epoch 9/100
98/98 [==============================] - 1s 5ms/step - loss: 0.5054 - accuracy: 0.7883 - val_loss: 0.5902 - val_accuracy: 0.8081
Epoch 10/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5261 - accuracy: 0.7806 - val_loss: 0.5761 - val_accuracy: 0.7980
Epoch 11/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5312 - accuracy: 0.7755 - val_loss: 0.5207 - val_accuracy: 0.7879
Epoch 12/100
98/98 [==============================] - 1s 5ms/step - loss: 0.5258 - accuracy: 0.7704 - val_loss: 0.5556 - val_accuracy: 0.7980
Epoch 13/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5192 - accuracy: 0.7832 - val_loss: 0.5757 - val_accuracy: 0.8081
Epoch 14/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4982 - accuracy: 0.7883 - val_loss: 0.6396 - val_accuracy: 0.7879
Epoch 15/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5167 - accuracy: 0.7959 - val_loss: 0.5143 - val_accuracy: 0.7879
Epoch 16/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4938 - accuracy: 0.8010 - val_loss: 0.5908 - val_accuracy: 0.8182
Epoch 17/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5170 - accuracy: 0.7857 - val_loss: 0.5202 - val_accuracy: 0.7980
Epoch 18/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5022 - accuracy: 0.8087 - val_loss: 0.5040 - val_accuracy: 0.8182
Epoch 19/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4815 - accuracy: 0.7985 - val_loss: 0.5937 - val_accuracy: 0.7778
Epoch 20/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4926 - accuracy: 0.8010 - val_loss: 0.5495 - val_accuracy: 0.7677
Epoch 21/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4938 - accuracy: 0.7857 - val_loss: 0.5089 - val_accuracy: 0.8182
Epoch 22/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4868 - accuracy: 0.7883 - val_loss: 0.5081 - val_accuracy: 0.8081
Epoch 23/100
98/98 [==============================] - 1s 5ms/step - loss: 0.5066 - accuracy: 0.7959 - val_loss: 0.5213 - val_accuracy: 0.8081
Epoch 24/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4893 - accuracy: 0.7806 - val_loss: 0.5281 - val_accuracy: 0.8182
Epoch 25/100
98/98 [==============================] - 1s 6ms/step - loss: 0.5062 - accuracy: 0.8163 - val_loss: 0.5538 - val_accuracy: 0.8081
Epoch 26/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4899 - accuracy: 0.8087 - val_loss: 0.5190 - val_accuracy: 0.7879
Epoch 27/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4932 - accuracy: 0.8163 - val_loss: 0.5656 - val_accuracy: 0.8182
Epoch 28/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5047 - accuracy: 0.7985 - val_loss: 0.5089 - val_accuracy: 0.8081
Epoch 29/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4799 - accuracy: 0.7908 - val_loss: 0.5143 - val_accuracy: 0.7980
Epoch 30/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4911 - accuracy: 0.8010 - val_loss: 0.5090 - val_accuracy: 0.8081
Epoch 31/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4918 - accuracy: 0.7908 - val_loss: 0.5009 - val_accuracy: 0.8081
Epoch 32/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4841 - accuracy: 0.7985 - val_loss: 0.5976 - val_accuracy: 0.7980
Epoch 33/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4856 - accuracy: 0.8061 - val_loss: 0.4990 - val_accuracy: 0.8081
Epoch 34/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4869 - accuracy: 0.8010 - val_loss: 0.6525 - val_accuracy: 0.8182
Epoch 35/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4971 - accuracy: 0.8087 - val_loss: 0.5232 - val_accuracy: 0.8182
Epoch 36/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4879 - accuracy: 0.7934 - val_loss: 0.5514 - val_accuracy: 0.8081
Epoch 37/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4847 - accuracy: 0.8112 - val_loss: 0.5870 - val_accuracy: 0.8081
Epoch 38/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4903 - accuracy: 0.8061 - val_loss: 0.5242 - val_accuracy: 0.7980
Epoch 39/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4855 - accuracy: 0.8087 - val_loss: 0.5256 - val_accuracy: 0.7879
Epoch 40/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4934 - accuracy: 0.7985 - val_loss: 0.5239 - val_accuracy: 0.7980
Epoch 41/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4972 - accuracy: 0.8010 - val_loss: 0.5260 - val_accuracy: 0.7879
Epoch 42/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4851 - accuracy: 0.8138 - val_loss: 0.5368 - val_accuracy: 0.7980
Epoch 43/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4924 - accuracy: 0.8010 - val_loss: 0.5490 - val_accuracy: 0.7475
Epoch 44/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4847 - accuracy: 0.8010 - val_loss: 0.5446 - val_accuracy: 0.7677
Epoch 45/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4968 - accuracy: 0.8112 - val_loss: 0.5220 - val_accuracy: 0.8081
Epoch 46/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4913 - accuracy: 0.7883 - val_loss: 0.5167 - val_accuracy: 0.8081
Epoch 47/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4993 - accuracy: 0.8112 - val_loss: 0.5185 - val_accuracy: 0.8081
Epoch 48/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4783 - accuracy: 0.8061 - val_loss: 0.5107 - val_accuracy: 0.7980
Epoch 49/100
98/98 [==============================] - 1s 7ms/step - loss: 0.4997 - accuracy: 0.8061 - val_loss: 0.5344 - val_accuracy: 0.8081
Epoch 50/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4930 - accuracy: 0.7985 - val_loss: 0.5096 - val_accuracy: 0.7980
Epoch 51/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4845 - accuracy: 0.8138 - val_loss: 0.5361 - val_accuracy: 0.7980
Epoch 52/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4842 - accuracy: 0.8061 - val_loss: 0.5276 - val_accuracy: 0.8081
Epoch 53/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4819 - accuracy: 0.8112 - val_loss: 0.5038 - val_accuracy: 0.8081
Epoch 54/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4810 - accuracy: 0.8163 - val_loss: 0.4997 - val_accuracy: 0.8081
Epoch 55/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4917 - accuracy: 0.8010 - val_loss: 0.5287 - val_accuracy: 0.8081
Epoch 56/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4823 - accuracy: 0.7908 - val_loss: 0.5750 - val_accuracy: 0.8081
Epoch 57/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4981 - accuracy: 0.8061 - val_loss: 0.5008 - val_accuracy: 0.8081
Epoch 58/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4885 - accuracy: 0.8138 - val_loss: 0.5177 - val_accuracy: 0.7980
Epoch 59/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4957 - accuracy: 0.7985 - val_loss: 0.5864 - val_accuracy: 0.8081
Epoch 60/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4927 - accuracy: 0.8087 - val_loss: 0.4967 - val_accuracy: 0.8081
Epoch 61/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4855 - accuracy: 0.8036 - val_loss: 0.5599 - val_accuracy: 0.7879
Epoch 62/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4886 - accuracy: 0.8087 - val_loss: 0.5239 - val_accuracy: 0.8182
Epoch 63/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4885 - accuracy: 0.8036 - val_loss: 0.5232 - val_accuracy: 0.7980
Epoch 64/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4933 - accuracy: 0.8036 - val_loss: 0.5305 - val_accuracy: 0.8081
Epoch 65/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4846 - accuracy: 0.8036 - val_loss: 0.5211 - val_accuracy: 0.8081
Epoch 66/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4839 - accuracy: 0.8061 - val_loss: 0.6300 - val_accuracy: 0.8081
Epoch 67/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4940 - accuracy: 0.8163 - val_loss: 0.5166 - val_accuracy: 0.7980
Epoch 68/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4888 - accuracy: 0.8036 - val_loss: 0.5068 - val_accuracy: 0.7980
Epoch 69/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4778 - accuracy: 0.7959 - val_loss: 0.4942 - val_accuracy: 0.8081
Epoch 70/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4957 - accuracy: 0.8036 - val_loss: 0.5190 - val_accuracy: 0.7980
Epoch 71/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4871 - accuracy: 0.8163 - val_loss: 0.5057 - val_accuracy: 0.8182
Epoch 72/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4880 - accuracy: 0.8061 - val_loss: 0.5174 - val_accuracy: 0.7980
Epoch 73/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4757 - accuracy: 0.8061 - val_loss: 0.5318 - val_accuracy: 0.7980
Epoch 74/100
98/98 [==============================] - 0s 5ms/step - loss: 0.5031 - accuracy: 0.8010 - val_loss: 0.5023 - val_accuracy: 0.8081
Epoch 75/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4916 - accuracy: 0.8112 - val_loss: 0.4892 - val_accuracy: 0.8081
Epoch 76/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4886 - accuracy: 0.8010 - val_loss: 0.6921 - val_accuracy: 0.8081
Epoch 77/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4817 - accuracy: 0.8163 - val_loss: 0.5135 - val_accuracy: 0.7980
Epoch 78/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4760 - accuracy: 0.8010 - val_loss: 0.5546 - val_accuracy: 0.8081
Epoch 79/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4855 - accuracy: 0.8214 - val_loss: 0.5770 - val_accuracy: 0.8081
Epoch 80/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4942 - accuracy: 0.7857 - val_loss: 0.5199 - val_accuracy: 0.8182
Epoch 81/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4753 - accuracy: 0.8061 - val_loss: 0.5533 - val_accuracy: 0.7980
Epoch 82/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4835 - accuracy: 0.8163 - val_loss: 0.5067 - val_accuracy: 0.8182
Epoch 83/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4823 - accuracy: 0.8036 - val_loss: 0.5208 - val_accuracy: 0.7879
Epoch 84/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4733 - accuracy: 0.8010 - val_loss: 0.5371 - val_accuracy: 0.7879
Epoch 85/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4830 - accuracy: 0.8010 - val_loss: 0.5022 - val_accuracy: 0.8182
Epoch 86/100
98/98 [==============================] - 1s 7ms/step - loss: 0.4794 - accuracy: 0.8087 - val_loss: 0.5380 - val_accuracy: 0.8081
Epoch 87/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4908 - accuracy: 0.8138 - val_loss: 0.4975 - val_accuracy: 0.8081
Epoch 88/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4770 - accuracy: 0.8010 - val_loss: 0.5269 - val_accuracy: 0.8081
Epoch 89/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4728 - accuracy: 0.8163 - val_loss: 0.5797 - val_accuracy: 0.8081
Epoch 90/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4770 - accuracy: 0.8138 - val_loss: 0.6410 - val_accuracy: 0.7980
Epoch 91/100
98/98 [==============================] - 0s 5ms/step - loss: 0.4864 - accuracy: 0.8087 - val_loss: 0.5538 - val_accuracy: 0.7879
Epoch 92/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4940 - accuracy: 0.8036 - val_loss: 0.5297 - val_accuracy: 0.7778
Epoch 93/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4962 - accuracy: 0.8010 - val_loss: 0.4841 - val_accuracy: 0.8283
Epoch 94/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4861 - accuracy: 0.8061 - val_loss: 0.5404 - val_accuracy: 0.8081
Epoch 95/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4879 - accuracy: 0.7908 - val_loss: 0.5353 - val_accuracy: 0.8081
Epoch 96/100
98/98 [==============================] - 1s 5ms/step - loss: 0.4859 - accuracy: 0.8087 - val_loss: 0.5126 - val_accuracy: 0.8081
Epoch 97/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4911 - accuracy: 0.8087 - val_loss: 0.4741 - val_accuracy: 0.8182
Epoch 98/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4918 - accuracy: 0.8138 - val_loss: 0.6010 - val_accuracy: 0.7980
Epoch 99/100
98/98 [==============================] - 1s 6ms/step - loss: 0.4718 - accuracy: 0.8036 - val_loss: 0.6566 - val_accuracy: 0.8182
Epoch 100/100
98/98 [==============================] - 1s 6ms/step - loss: 0.5052 - accuracy: 0.8036 - val_loss: 0.5049 - val_accuracy: 0.8081

# Read data

In [13]:
B = mt.read_csv("C:/Users/SHREE/Desktop/Data/testing_set.csv")

# Preview

In [14]:
B.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

# Drop unwanted column

In [15]:
B = B.drop(labels=["Loan_ID"],axis=1)

# Preprocessing

In [16]:
test = preprocessing(B)

In [17]:
#test.columns

In [18]:
#Xnew.columns

In [19]:
test.shape

(367, 20)

In [20]:
Xnew.shape

(614, 20)

In [46]:
Q = []
for i in nn.predict(test):
    if(i[0] < 0.5):
        Q.append(0)
    else:
        Q.append(1)

In [47]:
#Q

In [48]:
pred = le.inverse_transform(Q)

# Read data

In [49]:
D = mt.read_csv("C:/Users/SHREE/Desktop/Data/testing_set.csv")

In [50]:
C = D[["Loan_ID"]]

# Prediction

In [51]:
C["Loan_Status_Predicted"] = pred

In [52]:
C

      Loan_ID Loan_Status_Predicted
0    LP001015                     Y
1    LP001022                     Y
2    LP001031                     Y
3    LP001035                     Y
4    LP001051                     Y
..        ...                   ...
362  LP002971                     Y
363  LP002975                     Y
364  LP002980                     Y
365  LP002986                     Y
366  LP002989                     Y

[367 rows x 2 columns]